.carousselHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  .slider{
    height: 50vh;
    position: relative;
    width: 100%;
    align-items: center;
    .titreCaroussel{
      position: relative;
      display: flex;
      text-align: center;
      align-items: center;
      margin: 13vh;
      z-index: 10;
      color: white;
      font-size: 3em;
      font-family: 'Heiti SC';
    }
    img{
      object-fit: cover;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 1.5s;
    }
    .active{
      opacity: 1;
    }
    .suivant{
      color: rgb(146, 144, 144);
      height: 10px;
      right: 5px;
    }
    .precedent{
      color: rgb(146, 144, 144);
      height: 10px;
      left: 5px;
    }
    .suivant, .precedent{
      color: white;
      font-size: 3rem;
      position: absolute;
      top: 45%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 560px) {
  .carousselHeader .slider .titreCaroussel  {
    font-size:2em;
    margin: 15vh;
  }
}
