*,*::after,
*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Poppins';
  #overlay {
  z-index: 2;
    #recette{
      display: none;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 80%;
      max-width: 800px;
      max-height: 600px;
      overflow-y: auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      font-size: 12px;
      h6 {
        font-size: 14px;
      }
    }
    &.open {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
      cursor: pointer;
    }
  }
}