<script defer src="/assets/fontawesome/js/solid.js"></script>

{% block header %}
    <header>
        <div class="carousselHeader">
            <div class="slider">
                <h2 class="titreCaroussel">La nourriture c'est trop bon </h2>
                <img src="{{ asset('build/images/plat1.jpg') }}" alt="image de plat" class="img_slider active">
                <img src="{{ asset('build/images/plat2.jpg') }}" alt="image de plat" class="img_slider active">
                <img src="{{ asset('build/images/plat3.jpg') }}" alt="image de plat" class="img_slider active">
                <div class="suivant">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
                <div class="precedent">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
            </div>
        </div>
    </header>
{% endblock %}