<h1 class="h1">Plats historiques</h1>
<div id="overlay">
    <div id="recette"></div>
</div>
    <div class="card-container">
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="{{ asset('build/images/imgCarte/poire.webp') }}" alt="Image d'une Poire Belle Hélène">
                    <h3 class="h3">Poire Belle Hélène</h3>
                    <p>Temps de préparation : 30min</p>
                </div>
                <div class="card-back">
                    <h4>Histoire</h4>
                    <p>La poire belle Hélène est un dessert français créé en hommage à l'opéra comique La Belle Hélène de Jacques Offenbach. La recette aurait été créée par Auguste Escoffier, un célèbre chef français, au début du XXe siècle. Le dessert est depuis devenu un classique de la cuisine française et est souvent servi dans les restaurants du monde entier.</p>
                    <div class="recette">
                        <a href="#" class="recette-link">Recette</a>
                        <div class="list-recette js-recette-container">
                            <span class="recette-etape" data-step1="25Og de sucre en poudre"></span>
                            <span class="recette-etape" data-step2="125g de chocolat noir"></span>
                            <span class="recette-etape" data-step3="40g d'amende effilée"></span>
                            <span class="recette-etape" data-step4="20g de beurre"></span>
                            <span class="recette-etape" data-step5="4 poires pas trop mûres"></span>
                            <span class="recette-etape" data-step6="1 citron"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="{{ asset('build/images/imgCarte/poulets.webp') }}" alt="Image d'une dinde de Thanksgiving">
                    <h3 class="h3">Dinde revisité Thanksgiving</h3>
                    <p>Temps de préparation : 16h</p>
                </div>
                <div class="card-back">
                    <h4>Histoire</h4>
                    <p>La dinde n'est  pas la seule viande servie lors du dîner de Thanksgiving, elle est devenue l'élément central du repas. Les historiens pensent que la tradition de manger de la dinde remonte aux célébrations de la première récolte des colons anglais en Amérique du Nord en 1621, où les colons ont chassé des dindes sauvages pour leur fête.</p>
                    <div class="recette">
                        <a href="#" class="recette-link">Recette</a>
                        <div class="list-recette js-recette-container">
                            <span class="recette-etape" data-step1="1 poulet"></span>
                            <span class="recette-etape" data-step2="4 càs de beurre fondu"></span>
                            <span class="recette-etape" data-step3="2 càs de miel"></span>
                            <span class="recette-etape" data-step4="1 càs de paprika"></span>
                            <span class="recette-etape" data-step5="1 càs de sel"></span>
                            <span class="recette-etape" data-step6="1 branche de thym"></span>
                            <span class="recette-etape" data-step7="1 citron"></span>
                            <span class="recette-etape" data-step8="1 branche de céleri"></span>
                            <span class="recette-etape" data-step9="1 carotte"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="{{ asset('build/images/imgCarte/quiche.webp') }}" alt="Image d'une Quiche Lorraine">
                    <h3 class="h3">Quiche Lorraine</h3>
                    <p>Temps de préparation : 50min</p>
                </div>
                <div class="card-back">
                    <h4>Histoire</h4>
                    <p>La quiche lorraine a été adoptée dans toute la France « grâce » si on peut dire à l’exode des lorrains dans toute la France en 1870 lors de la guerre entre la France et la Prusse. Les prussiens annexant l’Alsace et la Moselle ont poussé les habitants à l’exil vers Paris et les autres grandes villes françaises, emportant avec eux leur culture et leurs traditions culinaires.</p>
                    <div class="recette">
                        <a href="#" class="recette-link">Recette</a>
                        <div class="list-recette js-recette-container">
                            <span class="recette-etape" data-step1="200g de pâte brisée"></span>
                            <span class="recette-etape" data-step2="200g de lardons"></span>
                            <span class="recette-etape" data-step3="30g de beurre"></span>
                            <span class="recette-etape" data-step4="20cl de crème liquide"></span>
                            <span class="recette-etape" data-step5="Sel et poivre"></span>
                            <span class="recette-etape" data-step6="3 oeufs"></span>
                            <span class="recette-etape" data-step6="20cl de lait"></span>
                            <span class="recette-etape" data-step6="3 oeufs"></span>
                            <span class="recette-etape" data-step6="2g de muscade"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="{{ asset('build/images/imgCarte/tatin.webp') }}" alt="Image d'une tarte tatin">
                    <h3 class="h3">Tarte des soeurs Tatin</h3>
                    <p>Temps de préparation : 1h 5min</p>
                </div>
                <div class="card-back">
                    <h4>Histoire</h4>
                    <p>La tarte Tatin est une tarte aux pommes renversée qui aurait été inventée par les sœurs Tatin dans leur hôtel-restaurant à Lamotte-Beuvron, en France, au début du XXe siècle. Selon la légende, la tarte aurait été créée par accident lorsque l'une des sœurs aurait renversé une tarte aux pommes dans sa poêle. </p>
                    <div class="recette">
                        <a href="#" class="recette-link">Recette</a>
                        <div class="list-recette js-recette-container">
                            <span class="recette-etape" data-step1="50g de beurre"></span>
                            <span class="recette-etape" data-step2="200g de sucre"></span>
                            <span class="recette-etape" data-step3="1 pâte brisée"></span>
                            <span class="recette-etape" data-step4="1kg de pomme"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
