<h1 class="h1">Plats historiques</h1>
<div id="overlay"></div>
    <div class="card-container">
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="{{ asset('build/images/imgCarte/poire.webp') }}" alt="Image d'une Poire Belle Hélène">
                    <h3 class="h3">Poire Belle Hélène</h3>
                    <p>Temps de préparation : 30min</p>
                </div>
                <div class="card-back">
                    <h4>Histoire</h4>
                    <p>La poire belle Hélène est un dessert français créé en hommage à l'opéra comique La Belle Hélène de Jacques Offenbach. La recette aurait été créée par Auguste Escoffier, un célèbre chef français, au début du XXe siècle. Le dessert est depuis devenu un classique de la cuisine française et est souvent servi dans les restaurants du monde entier.</p>
                    <div class="recette"><a href="#" class="recette-link">Recette</a></div>
                    <div class="js-recette-container recette-overlay">
                        <div class="recette-content">
                            <ul>
                                <h6>Etapes de préparation</h6><br>
                                <li>25Og de sucre en poudre</li>
                                <li>125g de chocolat noir</li>
                                <li>40g d'amende effilée</li>
                                <li>20g de beurre</li>
                                <li>4 poires pas trop mûres</li>
                                <li>1 citron</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="{{ asset('build/images/imgCarte/poulets.webp') }}" alt="Image d'une dinde de Thanksgiving">
                    <h3 class="h3">Dinde revisité Thanksgiving</h3>
                    <p>Temps de préparation : 16h</p>
                </div>
                <div class="card-back">
                    <h4>Histoire</h4>
                    <p>La dinde n'est  pas la seule viande servie lors du dîner de Thanksgiving, elle est devenue l'élément central du repas. Les historiens pensent que la tradition de manger de la dinde remonte aux célébrations de la première récolte des colons anglais en Amérique du Nord en 1621, où les colons ont chassé des dindes sauvages pour leur fête.</p>
                    <div class="recette"><a href="#" class="recette-link">Recette</a></div>
                    <div class="js-recette-container recette-overlay">
                        <div class="recette-content">
                            <ul>
                                <h6>Etapes de préparation</h6><br>
                                <li>1 poulet</li>
                                <li>4 càs de beurre fondu</li>
                                <li>2 càs de miel</li>
                                <li>1 càs de paprika</li>
                                <li>1 càs de sel</li>
                                <li>1 branche de thym</li>
                                <li>1 citron</li>
                                <li>1 branche de céleri</li>
                                <li>1 carotte</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="{{ asset('build/images/imgCarte/quiche.webp') }}" alt="Image d'une Quiche Lorraine">
                    <h3 class="h3">Quiche Lorraine</h3>
                    <p>Temps de préparation : 50min</p>
                </div>
                <div class="card-back">
                    <h4>Histoire</h4>
                    <p>La quiche lorraine a été adoptée dans toute la France « grâce » si on peut dire à l’exode des lorrains dans toute la France en 1870 lors de la guerre entre la France et la Prusse. Les prussiens annexant l’Alsace et la Moselle ont poussé les habitants à l’exil vers Paris et les autres grandes villes françaises, emportant avec eux leur culture et leurs traditions culinaires.</p>
                    <div class="recette"><a href="#" class="recette-link">Recette</a></div>
                    <div class="js-recette-container recette-overlay">
                        <div class="recette-content">
                            <ul>
                                <h6>Etapes de préparation</h6><br>
                                <li>200g de pâte brisée</li>
                                <li>200g de lardons</li>
                                <li>30g de beurre</li>
                                <li>20cl de crème liquide</li>
                                <li>Sel et poivre</li>
                                <li>3 oeufs</li>
                                <li>20cl de lait</li>
                                <li>2g de muscade </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="{{ asset('build/images/imgCarte/tatin.webp') }}" alt="Image d'une tarte tatin">
                    <h3 class="h3">Tarte des soeurs Tatin</h3>
                    <p>Temps de préparation : 1h 5min</p>
                </div>
                <div class="card-back">
                    <h4>Histoire</h4>
                    <p>La tarte Tatin est une tarte aux pommes renversée qui aurait été inventée par les sœurs Tatin dans leur hôtel-restaurant à Lamotte-Beuvron, en France, au début du XXe siècle. Selon la légende, la tarte aurait été créée par accident lorsque l'une des sœurs aurait renversé une tarte aux pommes dans sa poêle. </p>
                    <div class="recette"><a href="#" class="recette-link" id="recetteBtn">Recette</a></div>
                    <div class="js-recette-container recette-overlay">
                        <div class="recette-content">
                            <ul>
                                <h6>Etapes de préparation</h6><br>
                                <li>50g de beurre</li>
                                <li>200g de sucre</li>
                                <li>1 pâte brisée</li>
                                <li>1kg de pomme</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
