<div id="containerfooter">
    <div  class="mentions"><a href="#" class="legal-link">Mentions légales</a></div>
    <div  class="reseaux"><a href="#"></a>
        <img src="{{ asset('build/images/imgReseaux/tiktok.webp') }}" alt="tiktok logo">
        <img src="{{ asset('build/images/imgReseaux/twitter.webp') }}" alt="twitter logo">
        <img src="{{ asset('build/images/imgReseaux/instagram.webp') }}" alt="instagram logo">
    </div>
</div>