<header>
    <nav id="containernav">
        <a href="#top">
            <img class="imglogo" src="{{ asset('build/images/culture_food.webp') }}" alt="logo de la chaine youtube">
        </a>
        <ul id="burger-content">
            <li><a href="#recette">Plats historiques</a></li>
            <li><a href="#chaine">Chaîne YTB</a></li>
            <li><a href="#apropos">A propos</a></li>
        </ul>
        <button id="burger-btn">&#9776;</button>
        <div id="burger-sidebar"></div>
        <div id="burger-overlay"></div>
    </nav>
</header>


